@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header {
  width: 100%;
  height: 100px;
 background-color: #9B5AA9	
} */
.container {
top: 0px;
bottom: 0px;
}

.header-text{
    color:#fff
}

.h1{
  text-align: center; 
  letter-spacing: 0.3em;
  width: 100%;
  font-size: 50px;
}

h2{
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

body {   
    font-family: 'Open Sans', sans-serif; 
  }  

.form-signUp {
  background-image: url(img/58930.jpg);
  background-size: cover;
  padding-top: 40px;
  height: 560px;
}
.login-form {
  border: 1px black;
  width: 100%;
  margin: auto;
  min-width: 250px;
  max-width: 380px;
  background-color: #E9ACF6;
  border-radius: 12px;
  height: 500px;
  padding-top: 30px;
}

/* .login-form label {
  margin-right: 60px;
} */
.input-email {
  background: url(img/usuario-forma1.png) no-repeat scroll 0 0 transparent;
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  padding: 5px 5px 5px 25px;
  width: 230px;
  margin-bottom: 20px;
  background-position: 4px -18px;
}
.enter-data {
  border-radius: 8px;
  width: 220px;
  height: 35px;
  display: block;
  margin: 20px 80px;
  padding-left: 10px;
  color: #9C9797;
}
.name {
  margin-top: 100px;-
}
.img-user {
  width: 20px;
  height: 20px;
}

.login-form > fieldset {
  display: grid;
  grid-template-columns: 100px auto;
  border: none;
}


/* .login-form input {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 20px 0;
} */


footer{
  position: fixed;
  display: block;
    left: 0;
    bottom: 0;
    width: 100%;  
   background-color: #E9ACF6
}
footer p{
  text-align: center;
  color:#000;
}
.btn-social-net{
  cursor: pointer;
  font-weight: bold;
  height: 65px;
  width: 65px;
  padding-bottom: 2px; 
  padding-right: 15px;
  border: none;
}

#btn-facebook {
  background: url("img/facebook2.png") no-repeat scroll;
  margin-left: 18%;
}

#btn-google {
  background: url("img/google.png") no-repeat; 
  margin-left: 18%;
}
.button-send{
  border-radius: 10px;
  background-color: #9D66A9;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 130px;
  margin-bottom: 30px;
  width: 130px;
  height: 35px;
  color: #fff;
  letter-spacing: 1.5px;
  border: #9D66A9;
}

.button-send:hover{  
  background-color: #E9ACF6;
  opacity: 1;
}

.button-send:active{
 transform: scale(0.95)
}

.box-post{
  width: 200px;
  height: 80px;
  margin-left: 75px;
}

.btn-post {
  width: 80px;
  height: 20px;
  display: block;
  margin-left: 180px;
}


@media (max-width:480px){
  .login-form{
    width: 90%
  }
  .login-form img{
    width: 20%
  }
}
@media (max-width:768px){
  .login-form{
    width: 100%
  }  
}


